body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background: linear-gradient(135deg, #1a0056, #3d0d83, #6a1fb8);

    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: 	#7d0185;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #020111, #191970, #001F3F);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}


h1, h2, h3 {
    color: white;

}

/* Input Section */
.input-section, .algorithm-section, .output-section {
    margin-bottom: 20px;
}

.process {
    margin-bottom: 10px;
    padding: 10px;
    background: radial-gradient(circle at center, #ff00ff, #800080, #000000);
    background-size: cover;
    color: white; 
    /* color: white; */
    border-radius: 5px;
}

.process label {
    margin-right: 10px;
}

.process input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #218838;
}

select {
    padding: 5px;
    margin-right: 10px;
}


#ganttChart {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.gantt-bar {
    display: inline-block;
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    min-width: 50px; /* Minimum width for each bar */
}

.gantt-bar.waiting {
    background-color: #ffc107; /* Color for waiting time */
}

.gantt-bar.running {
    background-color: #1b6f93; /* Color for running time */
}

.gantt-bar.completed {
    background-color: #dc3545; /* Color for completed time */
}


.metrics {
    margin-bottom: 10px;
    padding: 10px;
    background: radial-gradient(circle at center, #ff00ff, #800080, #000000);
    background-size: cover;
    color: white; 
    /* color: white; */
    border-radius: 5px;
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin-top: 20px;
}

.metrics h3 {
    margin-top: 0;
}

.metrics p {
    margin: 5px 0;
}
